<style type="text/css">
#personalPanel:after
		{
			font-family:'Glyphicons Halflings';
		    content:"\e114";
			float: right;
			color: grey;
		}
		#personalPanel.collapsed:after
		{
			content:"\e080";
		}
		
		
		#qualificationPanel:after,#companyPanel:after
		{
			font-family:'Glyphicons Halflings';
			content:"\e114";
			float: right;
			color: grey;
		}
		#qualificationPanel.collapsed:after,#companyPanel.collapsed:after
		{
			content:"\e080";
		}
		.navTab
		{
			height:30%;
		}
			
</style>
<link rel="stylesheet" href="../styles/table_responsive.css">
<div class="panel-body" >
	<div class="panel panel-default">
	<div class="panel-body" >
			<h2>Department Details</h2><br>
			<div ng-repeat="dpt in department" class="panel panel-primary">
				<div style="" class="panel-heading"><h4>{{dpt.department}}<small>&nbsp&nbsp&nbsp&nbsp&nbsp{{dpt.count}} employees</small></h4></div>
				<div class="panel-body"><h5 class="normalfont normaltext" style="color:black;">{{dpt.description}}<h5></div>
			</div>
		
		



                        <div id="no-more-tables" style="max-height:45vh">
                         <table class="col-md-12 table-striped table-condensed cf" style="padding: 1%">
                            <thead class="cf">
                                <tr>
                                    <th class="numeric">First Name</th>
                                    <th class="numeric">Last Name</th>
                                    <th class="numeric">Email Id</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="dpt in department">
                                <tr ng-repeat="emp in dpt.employee">
                                    <td data-title="Name">
                                   {{emp.fname | capitalize}}
                                    </td>
                                   
                                    <td data-title="%" class="numeric">
                                        {{emp.lname | capitalize}}
                                    </td>
                                    <td data-title="" class="numeric">
                                        {{emp.email_id}}
                                    </td>

                                    
                                </tr>
                               
                               
                            </tbody>
                        </table>
                        </div>
	</div>
	</div>
</div>