<style type="text/css">
    .navTab {
        height: 30%;
    }

    .normalfont {
        font-weight: normal;
    }

    .normaltext {
        text-transform: none;
    }
</style>
<link rel="stylesheet" href="../styles/table_responsive.css">


<div>
    <h2> {{emp.fname }} {{emp.lname}} </h2>
</div>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" data-target="#personal"><h5>Personal</h5></a></li>
    <li><a data-toggle="tab" data-target="#company"><h5>Company</h5></a></li>
    <li><a data-toggle="tab" data-target="#qualifications"><h5>Qualifications & Certifications</h5></a></li>
</ul>

<div class="tab-content panel-body">
    <div id="personal" class="tab-pane fade in active">
        <div class="panel panel-default">

            <div class="panel-heading navbar-inverse">
                <h4> Personal Profile </h4>
            </div>

            <div class="panel-body">
                <dl class="dl-horizontal col-md-5 panel-body">

                    <dt><h5 style="font-size:1.2em"><strong>Mobile Number</strong></h5></dt>
                    <dd><h5 class="normalfont normaltext" style="font-size:1.2em">{{emp.mobile_no}}</h5></dd>
                    <dt><h5 style="font-size:1.2em"><strong>Email</strong></h5></dt>
                    <dd><h5 class="normalfont normaltext" style="font-size:1.2em"> {{emp.email_id}} </h5></dd>
                    <dt><h5 style="font-size:1.2em"><strong>Gender</strong></h5></dt>
                    <dd><h5 class="normalfont normaltext" style="font-size:1.2em">{{emp.gender | capitalize}}</h5></dd>
                    <dt><h5 style="font-size:1.2em"><strong>Date Of Birth</strong></h5></dt>
                    <dd><h5 class="normalfont normaltext" style="font-size:1.2em">{{emp.dob | date}}</h5></dd>
                    <dt><h5 style="font-size:1.2em"><strong>Address</strong></h5></dt>
                    <dd><h5 class="normalfont normaltext" style="font-size:1.2em">{{emp.address}}</h5></dd>
                    <dt><h5 style="font-size:1.2em"><strong>City</strong></h5></dt>
                    <dd><h5 class="normalfont normaltext" style="font-size:1.2em">{{emp.city | capitalize}}</h5></dd>
                     <dt><h5 style="font-size:1.2em"><strong>Pincode</strong></h5></dt>
                    <dd><h5 class="normalfont normaltext" style="font-size:1.2em">{{emp.pincode | capitalize}}</h5></dd>

                    <dt><h5 style="font-size:1.2em"><strong>State</strong></h5></dt>
                    <dd><h5 class="normalfont normaltext" style="font-size:1.2em">{{emp.state | capitalize }}</h5> </dd>
                    <dt><h5 style="font-size:1.2em"><strong>Country</strong></h5></dt>
                    <dd><h5 class="normalfont normaltext" style="font-size:1.2em">{{emp.country | capitalize}} </h5></dd>
                    </h5></dd>
                </dl>
            </div>

        </div>
    </div>

    <div id="company" class="tab-pane fade">

        <div class="panel panel-default">
            <div class="panel-heading navbar-inverse">
                <h4> Company Profile </h4>
            </div>
            <div class="panel-body">
              
                  <div class="col-md-5">
                    <dl class="dl-horizontal  panel-body">
                        <dt><h5 style="font-size:1.2em"><strong>Joining Date</strong></h5></dt>
                        <dd><h5 class="normalfont normaltext" style="font-size:1.2em">{{emp.doj | date}}</h5></dd>
                        <dt><h5 style="font-size:1.2em"><strong>PF number</strong></h5></dt>
                        <dd><h5 class="normalfont normaltext" style="font-size:1.2em"> {{emp.pf_no}} </h5></dd>

                    </dl>
                </div>
                <div class="col-md-4">
                    <dl class="dl-horizontal panel-body">
                        <dt><h5 style="font-size:1.2em"><strong>Teams</strong></h5></dt>
                        <dd ng-repeat="team in emp.teams"><h5 class="normalfont">{{team.team_name}}</h5></dd>
                    </dl>
                </div>

                <div id="no-more-tables">

                    <table class="col-md-12 table-striped table-condensed cf">
                        <thead class="cf">
                            <tr>
                                <th class="numeric" style="font-size:1.2em"><strong>Year</strong></th>
                                <th class="numeric" style="font-size:1.2em"><strong>Salary</strong></th>
                                <th class="numeric" style="font-size:1.2em"><strong>Bonus</strong></th>
                                <th class="numeric" style="font-size:1.2em"><strong>Leaves</strong></th>
                                <th class="numeric" style="font-size:1.2em"><strong>Role</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in salary">
                                <td data-title="Year" style="font-size:1.2em">{{data.year}}</td>
                                <td data-title="Salary" style="font-size:1.2em">{{data.salary}}</td>
                                <td data-title="Bonus" class="numeric" style="font-size:1.2em">{{data.bonus}}</td>
                                <td data-title="Leaves" class="numeric" style="font-size:1.2em">{{data.leaves}}</td>
                                <td data-title="Role" class="numeric" style="font-size:1.2em">{{data.role}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div> <br>

    </div>

    <div id="qualifications" class="tab-pane fade">

        <div class="panel panel-default">
            <div class="panel-heading navbar-inverse">
                <h4>Acadamic Profile</h4>
            </div>

            <div>
                <div class="panel-body">
                    <div class="panel-heading" style="padding-left:0px">
                        <h4>
                            Qualifications
                        </h4>
                    </div>

                    <div class="" style="width: 100%">
                        <div id="no-more-tables">

                            <table class="col-md-12 table-striped table-condensed cf" style="padding:0px">
                                <thead class="cf">
                                    <tr>
                                        <th class="numeric col-md-8" style="font-size:1.2em"><strong>Degree</strong></th>
                                        <th class="numeric" style="font-size:1.2em"><strong>Percentage</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in qualifications">
                                        <td data-title="Degree" style="font-size:1.2em">{{data.degree}}</td>
                                        <td data-title="Percentage" style="font-size:1.2em">{{data.percentage}}%</td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>

                </div> <br>
                <div class="panel-body">
                    <div class="panel-heading" style="padding-left:0px">
                        <h4>Certifications</h4>
                    </div>
                    <div class="" style="width: 100%">
                        <div id="no-more-tables">

                            <table class="col-md-12 table-striped table-condensed cf" style="padding:0px">
                                <thead class="cf">
                                    <tr>
                                        <th class="numeric col-md-8" style="font-size:1.2em"><strong>Title</strong></th>
                                        <th class="numeric" style="font-size:1.2em"><strong>Year</strong></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in certifications">
                                        <td data-title="Title" style="font-size:1.2em">{{data.certification}}</td>
                                        <td data-title="Year" style="font-size:1.2em">{{data.year}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-sm-3 col-sm-offset-4 panel-body">
        <button class="btn btn-info btn-block" ng-click="editEmployeeView()" style="font-size:0.8em">Edit</button>
    </div>   <!-- Edit Button-->
</div>
